# Large datasets - do not upload to GitHub
Datasets/supply_chain_orders_cleaned.csv
Datasets/supply_chain_orders_processed.csv
Datasets/supply_chain_orders_raw.csv

Datasets/Cleaned Data/supply_chain_orders_cleaned.csv
Datasets/Cleaned Data/supply_chain_orders_processed.csv

Datasets/Row Data/supply_chain_orders_raw.csv
Datasets/Row Data/tokenized_access_logs.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/

# Secrets
.env
*.env

# Temporary files
*.tmp
*.log